<!DOCTYPE html>
<html lang="en">
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>
<body ng-app="">
    <input type="checkbox" ng-model="my">
    <input type="text" ng-model="e" ng-show="my">
    <div ng-init="country=['karachi','lahore','islamabad','KPK']" ng-show="my">
        <ul>
            <li ng-repeat="c in country | filter:e">{{c | uppercase}}</li>
        </ul>
    </div>
</body>
</html>